# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  email:
    user:    'sistemas@email.com.br'
    pass:    'password'
    address: 'smtp.gmail.com'
    port:    587
    domain:  'domain.org.br'

development:
  secret_key_base: 72165052d34ce24c60d345eb88a3fac14344eaec66b79aa24304bf964299f376463181a23418a9342b9d517c1c9744dbe0de12f1dc8b574d68ffe6f064834f67
  <<: *default

test:
  secret_key_base: 43ef09848b0307311d9720a071d943c1770d024f5affab34ea245ac6ea041a703170e5d9ea5974c642ab4a77108f61c78ba1158e8208a7a7b26db161991b15bd
  email:
    user:    'sistemas@email.com.br'
    pass:    'password'
    address: 'smtp.gmail.com'
    port:    587
    domain:  'domain.org.br'
    
    
# Do not keep production secrets in the repository, instead read values from the environment.
production:
  secret_key_base: 72165052d34ce24c60d345eb88a3fac14344eaec66b79aa24304bf964299f376463181a23418a9342b9d517c1c9744dbe0de12f1dc8b574d68ffe6f064834f67
  <<: *default
  #secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>


staging:
  secret_key_base: 72165052d34ce24c60d345eb88a3fac14344eaec66b79aa24304bf964299f376463181a23418a9342b9d517c1c9744dbe0de12f1dc8b574d68ffe6f064834f67
  <<: *default
  
  
demo:
  secret_key_base: 72165052d34ce24c60d345eb88a3fac14344eaec66b79aa24304bf964299f376463181a23418a9342b9d517c1c9744dbe0de12f1dc8b574d68ffe6f064834f67
  <<: *default
