/*@font-face {
  font-family: 'iconFont';
  src: font-url('iconFont.eot');
  src: font-url('iconFont.eot?#iefix') format('embedded-opentype'),
  font-url('iconFont.woff') format('woff'),
  font-url('iconFont.ttf') format('truetype'),
  font-url('iconFont.svg#iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

/*
@font-face {
    font-family: 'MyFont';
    src: url(font-path('myfont-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('myfont-webfont.woff')) format('woff'), 
         url(font-path('myfont-webfont.ttf'))  format('truetype'),
         url(font-path('myfont-webfont.svg') + "#MyFont") format('svg');
}
*/

@font-face {
  font-family: 'iconFont';
  src: font-url( asset-path('iconFont.eot') );
  src: font-url( asset-path('iconFont.eot?#iefix') ) format('embedded-opentype'),
  font-url( asset-path('iconFont.woff') ) format('woff'),
  font-url( asset-path('iconFont.ttf') ) format('truetype'),
  font-url( asset-path('iconFont.svg#iconFont') ) format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'iconFont';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
[class*="icon-metro-"] {
  font-family: 'iconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;
  display: inline-block;
  vertical-align: -8%;
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
}
[class*="icon-metro-"].smaller {
  font-size: .7em;
  vertical-align: 6%;
}
[class*="icon-metro-"].large {
  font-size: 1.2em;
  vertical-align: -10%;
}
.icon-metro-newspaper:before {
  content: "\e001";
}
.icon-metro-pencil:before {
  content: "\e002";
}
.icon-metro-droplet:before {
  content: "\e003";
}
.icon-metro-pictures:before {
  content: "\e004";
}
.icon-metro-camera:before {
  content: "\e005";
}
.icon-metro-music:before {
  content: "\e006";
}
.icon-metro-film:before {
  content: "\e007";
}
.icon-metro-camera-2:before {
  content: "\e008";
}
.icon-metro-spades:before {
  content: "\e009";
}
.icon-metro-clubs:before {
  content: "\e00a";
}
.icon-metro-diamonds:before {
  content: "\e00b";
}
.icon-metro-broadcast:before {
  content: "\e00c";
}
.icon-metro-mic:before {
  content: "\e00d";
}
.icon-metro-book:before {
  content: "\e00e";
}
.icon-metro-file:before {
  content: "\e00f";
}
.icon-metro-new:before {
  content: "\e010";
}
.icon-metro-copy:before {
  content: "\e011";
}
.icon-metro-folder:before {
  content: "\e012";
}
.icon-metro-folder-2:before {
  content: "\e013";
}
.icon-metro-tag:before {
  content: "\e014";
}
.icon-metro-cart:before {
  content: "\e015";
}
.icon-metro-basket:before {
  content: "\e016";
}
.icon-metro-calculate:before {
  content: "\e017";
}
.icon-metro-support:before {
  content: "\e018";
}
.icon-metro-phone:before {
  content: "\e019";
}
.icon-metro-mail:before {
  content: "\e01a";
}
.icon-metro-location:before {
  content: "\e01b";
}
.icon-metro-compass:before {
  content: "\e01c";
}
.icon-metro-history:before {
  content: "\e01d";
}
.icon-metro-clock:before {
  content: "\e01e";
}
.icon-metro-bell:before {
  content: "\e01f";
}
.icon-metro-calendar:before {
  content: "\e020";
}
.icon-metro-printer:before {
  content: "\e021";
}
.icon-metro-mouse:before {
  content: "\e022";
}
.icon-metro-screen:before {
  content: "\e023";
}
.icon-metro-laptop:before {
  content: "\e024";
}
.icon-metro-mobile:before {
  content: "\e025";
}
.icon-metro-cabinet:before {
  content: "\e026";
}
.icon-metro-drawer:before {
  content: "\e027";
}
.icon-metro-drawer-2:before {
  content: "\e028";
}
.icon-metro-box:before {
  content: "\e029";
}
.icon-metro-box-add:before {
  content: "\e02a";
}
.icon-metro-box-remove:before {
  content: "\e02b";
}
.icon-metro-download:before {
  content: "\e02c";
}
.icon-metro-upload:before {
  content: "\e02d";
}
.icon-metro-database:before {
  content: "\e02e";
}
.icon-metro-flip:before {
  content: "\e02f";
}
.icon-metro-flip-2:before {
  content: "\e030";
}
.icon-metro-undo:before {
  content: "\e031";
}
.icon-metro-redo:before {
  content: "\e032";
}
.icon-metro-forward:before {
  content: "\e033";
}
.icon-metro-reply:before {
  content: "\e034";
}
.icon-metro-reply-2:before {
  content: "\e035";
}
.icon-metro-comments:before {
  content: "\e036";
}
.icon-metro-comments-2:before {
  content: "\e037";
}
.icon-metro-comments-3:before {
  content: "\e038";
}
.icon-metro-comments-4:before {
  content: "\e039";
}
.icon-metro-comments-5:before {
  content: "\e03a";
}
.icon-metro-user:before {
  content: "\e03b";
}
.icon-metro-user-2:before {
  content: "\e03c";
}
.icon-metro-user-3:before {
  content: "\e03d";
}
.icon-metro-busy:before {
  content: "\e03e";
}
.icon-metro-loading:before {
  content: "\e03f";
}
.icon-metro-loading-2:before {
  content: "\e040";
}
.icon-metro-search:before {
  content: "\e041";
}
.icon-metro-zoom-in:before {
  content: "\e042";
}
.icon-metro-zoom-out:before {
  content: "\e043";
}
.icon-metro-key:before {
  content: "\e044";
}
.icon-metro-key-2:before {
  content: "\e045";
}
.icon-metro-locked:before {
  content: "\e046";
}
.icon-metro-unlocked:before {
  content: "\e047";
}
.icon-metro-wrench:before {
  content: "\e048";
}
.icon-metro-equalizer:before {
  content: "\e049";
}
.icon-metro-cog:before {
  content: "\e04a";
}
.icon-metro-pie:before {
  content: "\e04b";
}
.icon-metro-bars:before {
  content: "\e04c";
}
.icon-metro-stats-up:before {
  content: "\e04d";
}
.icon-metro-gift:before {
  content: "\e04e";
}
.icon-metro-trophy:before {
  content: "\e04f";
}
.icon-metro-diamond:before {
  content: "\e050";
}
.icon-metro-coffee:before {
  content: "\e051";
}
.icon-metro-rocket:before {
  content: "\e052";
}
.icon-metro-meter-slow:before {
  content: "\e053";
}
.icon-metro-meter-medium:before {
  content: "\e054";
}
.icon-metro-meter-fast:before {
  content: "\e055";
}
.icon-metro-dashboard:before {
  content: "\e056";
}
.icon-metro-fire:before {
  content: "\e057";
}
.icon-metro-lab:before {
  content: "\e058";
}
.icon-metro-remove:before {
  content: "\e059";
}
.icon-metro-briefcase:before {
  content: "\e05a";
}
.icon-metro-briefcase-2:before {
  content: "\e05b";
}
.icon-metro-cars:before {
  content: "\e05c";
}
.icon-metro-bus:before {
  content: "\e05d";
}
.icon-metro-cube:before {
  content: "\e05e";
}
.icon-metro-cube-2:before {
  content: "\e05f";
}
.icon-metro-puzzle:before {
  content: "\e060";
}
.icon-metro-glasses:before {
  content: "\e061";
}
.icon-metro-glasses-2:before {
  content: "\e062";
}
.icon-metro-accessibility:before {
  content: "\e063";
}
.icon-metro-accessibility-2:before {
  content: "\e064";
}
.icon-metro-target:before {
  content: "\e065";
}
.icon-metro-target-2:before {
  content: "\e066";
}
.icon-metro-lightning:before {
  content: "\e067";
}
.icon-metro-power:before {
  content: "\e068";
}
.icon-metro-power-2:before {
  content: "\e069";
}
.icon-metro-clipboard:before {
  content: "\e06a";
}
.icon-metro-clipboard-2:before {
  content: "\e06b";
}
.icon-metro-playlist:before {
  content: "\e06c";
}
.icon-metro-grid-view:before {
  content: "\e06d";
}
.icon-metro-tree-view:before {
  content: "\e06e";
}
.icon-metro-cloud:before {
  content: "\e06f";
}
.icon-metro-cloud-2:before {
  content: "\e070";
}
.icon-metro-download-2:before {
  content: "\e071";
}
.icon-metro-upload-2:before {
  content: "\e072";
}
.icon-metro-upload-3:before {
  content: "\e073";
}
.icon-metro-link:before {
  content: "\e074";
}
.icon-metro-link-2:before {
  content: "\e075";
}
.icon-metro-flag:before {
  content: "\e076";
}
.icon-metro-flag-2:before {
  content: "\e077";
}
.icon-metro-attachment:before {
  content: "\e078";
}
.icon-metro-eye:before {
  content: "\e079";
}
.icon-metro-bookmark:before {
  content: "\e07a";
}
.icon-metro-bookmark-2:before {
  content: "\e07b";
}
.icon-metro-star:before {
  content: "\e07c";
}
.icon-metro-star-2:before {
  content: "\e07d";
}
.icon-metro-star-3:before {
  content: "\e07e";
}
.icon-metro-heart:before {
  content: "\e07f";
}
.icon-metro-heart-2:before {
  content: "\e080";
}
.icon-metro-thumbs-up:before {
  content: "\e081";
}
.icon-metro-thumbs-down:before {
  content: "\e082";
}
.icon-metro-plus:before {
  content: "\e083";
}
.icon-metro-minus:before {
  content: "\e084";
}
.icon-metro-help:before {
  content: "\e085";
}
.icon-metro-help-2:before {
  content: "\e086";
}
.icon-metro-blocked:before {
  content: "\e087";
}
.icon-metro-cancel:before {
  content: "\e088";
}
.icon-metro-cancel-2:before {
  content: "\e089";
}
.icon-metro-checkmark:before {
  content: "\e08a";
}
.icon-metro-minus-2:before {
  content: "\e08b";
}
.icon-metro-plus-2:before {
  content: "\e08c";
}
.icon-metro-enter:before {
  content: "\e08d";
}
.icon-metro-exit:before {
  content: "\e08e";
}
.icon-metro-loop:before {
  content: "\e08f";
}
.icon-metro-arrow-up-left:before {
  content: "\e090";
}
.icon-metro-arrow-up:before {
  content: "\e091";
}
.icon-metro-arrow-up-right:before {
  content: "\e092";
}
.icon-metro-arrow-right:before {
  content: "\e093";
}
.icon-metro-arrow-down-right:before {
  content: "\e094";
}
.icon-metro-arrow-down:before {
  content: "\e095";
}
.icon-metro-arrow-down-left:before {
  content: "\e096";
}
.icon-metro-arrow-left:before {
  content: "\e097";
}
.icon-metro-arrow-up-2:before {
  content: "\e098";
}
.icon-metro-arrow-right-2:before {
  content: "\e099";
}
.icon-metro-arrow-down-2:before {
  content: "\e09a";
}
.icon-metro-arrow-left-2:before {
  content: "\e09b";
}
.icon-metro-arrow-up-3:before {
  content: "\e09c";
}
.icon-metro-arrow-right-3:before {
  content: "\e09d";
}
.icon-metro-arrow-down-3:before {
  content: "\e09e";
}
.icon-metro-arrow-left-3:before {
  content: "\e09f";
}
.icon-metro-menu:before {
  content: "\e0a0";
}
.icon-metro-enter-2:before {
  content: "\e0a1";
}
.icon-metro-backspace:before {
  content: "\e0a2";
}
.icon-metro-backspace-2:before {
  content: "\e0a3";
}
.icon-metro-tab:before {
  content: "\e0a4";
}
.icon-metro-tab-2:before {
  content: "\e0a5";
}
.icon-metro-checkbox:before {
  content: "\e0a6";
}
.icon-metro-checkbox-unchecked:before {
  content: "\e0a7";
}
.icon-metro-checkbox-partial:before {
  content: "\e0a8";
}
.icon-metro-radio-checked:before {
  content: "\e0a9";
}
.icon-metro-radio-unchecked:before {
  content: "\e0aa";
}
.icon-metro-font:before {
  content: "\e0ab";
}
.icon-metro-paragraph-left:before {
  content: "\e0ac";
}
.icon-metro-paragraph-center:before {
  content: "\e0ad";
}
.icon-metro-paragraph-right:before {
  content: "\e0ae";
}
.icon-metro-paragraph-justify:before {
  content: "\e0af";
}
.icon-metro-left-to-right:before {
  content: "\e0b0";
}
.icon-metro-right-to-left:before {
  content: "\e0b1";
}
.icon-metro-share:before {
  content: "\e0b2";
}
.icon-metro-new-tab:before {
  content: "\e0b3";
}
.icon-metro-new-tab-2:before {
  content: "\e0b4";
}
.icon-metro-embed:before {
  content: "\e0b5";
}
.icon-metro-code:before {
  content: "\e0b6";
}
.icon-metro-bluetooth:before {
  content: "\e0b7";
}
.icon-metro-share-2:before {
  content: "\e0b8";
}
.icon-metro-share-3:before {
  content: "\e0b9";
}
.icon-metro-mail-2:before {
  content: "\e0ba";
}
.icon-metro-google:before {
  content: "\e0bb";
}
.icon-metro-google-plus:before {
  content: "\e0bc";
}
.icon-metro-google-drive:before {
  content: "\e0bd";
}
.icon-metro-facebook:before {
  content: "\e0be";
}
.icon-metro-instagram:before {
  content: "\e0bf";
}
.icon-metro-twitter:before {
  content: "\e0c0";
}
.icon-metro-feed:before {
  content: "\e0c1";
}
.icon-metro-youtube:before {
  content: "\e0c2";
}
.icon-metro-vimeo:before {
  content: "\e0c3";
}
.icon-metro-flickr:before {
  content: "\e0c4";
}
.icon-metro-picassa:before {
  content: "\e0c5";
}
.icon-metro-dribbble:before {
  content: "\e0c6";
}
.icon-metro-deviantart:before {
  content: "\e0c7";
}
.icon-metro-github:before {
  content: "\e0c8";
}
.icon-metro-github-2:before {
  content: "\e0c9";
}
.icon-metro-github-3:before {
  content: "\e0ca";
}
.icon-metro-github-4:before {
  content: "\e0cb";
}
.icon-metro-github-5:before {
  content: "\e0cc";
}
.icon-metro-git:before {
  content: "\e0cd";
}
.icon-metro-github-6:before {
  content: "\e0ce";
}
.icon-metro-wordpress:before {
  content: "\e0cf";
}
.icon-metro-joomla:before {
  content: "\e0d0";
}
.icon-metro-blogger:before {
  content: "\e0d1";
}
.icon-metro-tumblr:before {
  content: "\e0d2";
}
.icon-metro-yahoo:before {
  content: "\e0d3";
}
.icon-metro-amazon:before {
  content: "\e0d4";
}
.icon-metro-tux:before {
  content: "\e0d5";
}
.icon-metro-apple:before {
  content: "\e0d6";
}
.icon-metro-finder:before {
  content: "\e0d7";
}
.icon-metro-android:before {
  content: "\e0d8";
}
.icon-metro-windows:before {
  content: "\e0d9";
}
.icon-metro-soundcloud:before {
  content: "\e0da";
}
.icon-metro-skype:before {
  content: "\e0db";
}
.icon-metro-reddit:before {
  content: "\e0dc";
}
.icon-metro-linkedin:before {
  content: "\e0dd";
}
.icon-metro-lastfm:before {
  content: "\e0de";
}
.icon-metro-delicious:before {
  content: "\e0df";
}
.icon-metro-stumbleupon:before {
  content: "\e0e0";
}
.icon-metro-pinterest:before {
  content: "\e0e1";
}
.icon-metro-xing:before {
  content: "\e0e2";
}
.icon-metro-flattr:before {
  content: "\e0e3";
}
.icon-metro-foursquare:before {
  content: "\e0e4";
}
.icon-metro-paypal:before {
  content: "\e0e5";
}
.icon-metro-yelp:before {
  content: "\e0e6";
}
.icon-metro-libreoffice:before {
  content: "\e0e7";
}
.icon-metro-file-pdf:before {
  content: "\e0e8";
}
.icon-metro-file-openoffice:before {
  content: "\e0e9";
}
.icon-metro-file-word:before {
  content: "\e0ea";
}
.icon-metro-file-excel:before {
  content: "\e0eb";
}
.icon-metro-file-powerpoint:before {
  content: "\e0ec";
}
.icon-metro-file-zip:before {
  content: "\e0ed";
}
.icon-metro-file-xml:before {
  content: "\e0ee";
}
.icon-metro-file-css:before {
  content: "\e0ef";
}
.icon-metro-html5:before {
  content: "\e0f0";
}
.icon-metro-html5-2:before {
  content: "\e0f1";
}
.icon-metro-css3:before {
  content: "\e0f2";
}
.icon-metro-chrome:before {
  content: "\e0f3";
}
.icon-metro-firefox:before {
  content: "\e0f4";
}
.icon-metro-IE:before {
  content: "\e0f5";
}
.icon-metro-opera:before {
  content: "\e0f6";
}
.icon-metro-safari:before {
  content: "\e0f7";
}
.icon-metro-IcoMoon:before {
  content: "\e0f8";
}
.icon-metro-sunrise:before {
  content: "\e0f9";
}
.icon-metro-sun:before {
  content: "\e0fa";
}
.icon-metro-moon:before {
  content: "\e0fb";
}
.icon-metro-sun-2:before {
  content: "\e0fc";
}
.icon-metro-windy:before {
  content: "\e0fd";
}
.icon-metro-wind:before {
  content: "\e0fe";
}
.icon-metro-snowflake:before {
  content: "\e0ff";
}
.icon-metro-cloudy:before {
  content: "\e100";
}
.icon-metro-cloud-3:before {
  content: "\e101";
}
.icon-metro-weather:before {
  content: "\e102";
}
.icon-metro-weather-2:before {
  content: "\e103";
}
.icon-metro-weather-3:before {
  content: "\e104";
}
.icon-metro-lines:before {
  content: "\e105";
}
.icon-metro-cloud-4:before {
  content: "\e106";
}
.icon-metro-lightning-2:before {
  content: "\e107";
}
.icon-metro-lightning-3:before {
  content: "\e108";
}
.icon-metro-rainy:before {
  content: "\e109";
}
.icon-metro-rainy-2:before {
  content: "\e10a";
}
.icon-metro-windy-2:before {
  content: "\e10b";
}
.icon-metro-windy-3:before {
  content: "\e10c";
}
.icon-metro-snowy:before {
  content: "\e10d";
}
.icon-metro-snowy-2:before {
  content: "\e10e";
}
.icon-metro-snowy-3:before {
  content: "\e10f";
}
.icon-metro-weather-4:before {
  content: "\e110";
}
.icon-metro-cloudy-2:before {
  content: "\e111";
}
.icon-metro-cloud-5:before {
  content: "\e112";
}
.icon-metro-lightning-4:before {
  content: "\e113";
}
.icon-metro-sun-3:before {
  content: "\e114";
}
.icon-metro-moon-2:before {
  content: "\e115";
}
.icon-metro-cloudy-3:before {
  content: "\e116";
}
.icon-metro-cloud-6:before {
  content: "\e117";
}
.icon-metro-cloud-7:before {
  content: "\e118";
}
.icon-metro-lightning-5:before {
  content: "\e119";
}
.icon-metro-rainy-3:before {
  content: "\e11a";
}
.icon-metro-rainy-4:before {
  content: "\e11b";
}
.icon-metro-windy-4:before {
  content: "\e11c";
}
.icon-metro-windy-5:before {
  content: "\e11d";
}
.icon-metro-snowy-4:before {
  content: "\e11e";
}
.icon-metro-snowy-5:before {
  content: "\e11f";
}
.icon-metro-weather-5:before {
  content: "\e120";
}
.icon-metro-cloudy-4:before {
  content: "\e121";
}
.icon-metro-lightning-6:before {
  content: "\e122";
}
.icon-metro-thermometer:before {
  content: "\e123";
}
.icon-metro-compass-2:before {
  content: "\e124";
}
.icon-metro-none:before {
  content: "\e125";
}
.icon-metro-Celsius:before {
  content: "\e126";
}
.icon-metro-Fahrenheit:before {
  content: "\e127";
}
.icon-metro-forrst:before {
  content: "\e128";
}
.icon-metro-headphones:before {
  content: "\e129";
}
.icon-metro-bug:before {
  content: "\e12a";
}
.icon-metro-cart-2:before {
  content: "\e12b";
}
.icon-metro-earth:before {
  content: "\e12c";
}
.icon-metro-battery:before {
  content: "\e12d";
}
.icon-metro-list:before {
  content: "\e12e";
}
.icon-metro-grid:before {
  content: "\e12f";
}
.icon-metro-alarm:before {
  content: "\e130";
}
.icon-metro-location-2:before {
  content: "\e131";
}
.icon-metro-pointer:before {
  content: "\e132";
}
.icon-metro-diary:before {
  content: "\e133";
}
.icon-metro-eye-2:before {
  content: "\e134";
}
.icon-metro-console:before {
  content: "\e135";
}
.icon-metro-location-3:before {
  content: "\e136";
}
.icon-metro-move:before {
  content: "\e137";
}
.icon-metro-gift-2:before {
  content: "\e138";
}
.icon-metro-monitor:before {
  content: "\e139";
}
.icon-metro-mobile-2:before {
  content: "\e13a";
}
.icon-metro-switch:before {
  content: "\e13b";
}
.icon-metro-star-4:before {
  content: "\e13c";
}
.icon-metro-address-book:before {
  content: "\e13d";
}
.icon-metro-shit:before {
  content: "\e13e";
}
.icon-metro-cone:before {
  content: "\e13f";
}
.icon-metro-credit-card:before {
  content: "\e140";
}
.icon-metro-type:before {
  content: "\e141";
}
.icon-metro-volume:before {
  content: "\e142";
}
.icon-metro-volume-2:before {
  content: "\e143";
}
.icon-metro-locked-2:before {
  content: "\e144";
}
.icon-metro-warning:before {
  content: "\e145";
}
.icon-metro-info:before {
  content: "\e146";
}
.icon-metro-filter:before {
  content: "\e147";
}
.icon-metro-bookmark-3:before {
  content: "\e148";
}
.icon-metro-bookmark-4:before {
  content: "\e149";
}
.icon-metro-stats:before {
  content: "\e14a";
}
.icon-metro-compass-3:before {
  content: "\e14b";
}
.icon-metro-keyboard:before {
  content: "\e14c";
}
.icon-metro-award-fill:before {
  content: "\e14d";
}
.icon-metro-award-stroke:before {
  content: "\e14e";
}
.icon-metro-beaker-alt:before {
  content: "\e14f";
}
.icon-metro-beaker:before {
  content: "\e150";
}
.icon-metro-move-vertical:before {
  content: "\e151";
}
.icon-metro-move-horizontal:before {
  content: "\e152";
}
.icon-metro-steering-wheel:before {
  content: "\e153";
}
.icon-metro-volume-3:before {
  content: "\e154";
}
.icon-metro-volume-mute:before {
  content: "\e155";
}
.icon-metro-play:before {
  content: "\e156";
}
.icon-metro-pause:before {
  content: "\e157";
}
.icon-metro-stop:before {
  content: "\e158";
}
.icon-metro-eject:before {
  content: "\e159";
}
.icon-metro-first:before {
  content: "\e15a";
}
.icon-metro-last:before {
  content: "\e15b";
}
.icon-metro-play-alt:before {
  content: "\e15c";
}
.icon-metro-battery-charging:before {
  content: "\e160";
}
.icon-metro-left-quote:before {
  content: "\e161";
}
.icon-metro-right-quote:before {
  content: "\e162";
}
.icon-metro-left-quote-alt:before {
  content: "\e163";
}
.icon-metro-right-quote-alt:before {
  content: "\e164";
}
.icon-metro-smiley:before {
  content: "\e165";
}
.icon-metro-umbrella:before {
  content: "\e166";
}
.icon-metro-info-2:before {
  content: "\e167";
}
.icon-metro-chart-alt:before {
  content: "\e168";
}
.icon-metro-at:before {
  content: "\e169";
}
.icon-metro-hash:before {
  content: "\e16a";
}
.icon-metro-pilcrow:before {
  content: "\e16b";
}
.icon-metro-fullscreen-alt:before {
  content: "\e16c";
}
.icon-metro-fullscreen-exit-alt:before {
  content: "\e16d";
}
.icon-metro-layers-alt:before {
  content: "\e16e";
}
.icon-metro-layers:before {
  content: "\e16f";
}
.icon-metro-floppy:before {
  content: "\e170";
}
.icon-metro-rainbow:before {
  content: "\e000";
}
.icon-metro-air:before {
  content: "\e171";
}
.icon-metro-home:before {
  content: "\e172";
}
.icon-metro-spin:before {
  content: "\e173";
}
.icon-metro-auction:before {
  content: "\e174";
}
.icon-metro-dollar:before {
  content: "\e175";
}
.icon-metro-dollar-2:before {
  content: "\e176";
}
.icon-metro-coins:before {
  content: "\e177";
}
.icon-metro-file-2:before {
  content: "\e186";
}
.icon-metro-file-3:before {
  content: "\e187";
}
.icon-metro-file-4:before {
  content: "\e188";
}
.icon-metro-files:before {
  content: "\e189";
}
.icon-metro-phone-2:before {
  content: "\e18a";
}
.icon-metro-tablet:before {
  content: "\e18b";
}
.icon-metro-monitor-2:before {
  content: "\e18c";
}
.icon-metro-window:before {
  content: "\e18d";
}
.icon-metro-tv:before {
  content: "\e18e";
}
.icon-metro-camera-3:before {
  content: "\e18f";
}
.icon-metro-image:before {
  content: "\e190";
}
.icon-metro-open:before {
  content: "\e191";
}
.icon-metro-sale:before {
  content: "\e192";
}
.icon-metro-direction:before {
  content: "\e193";
}
.icon-metro-medal:before {
  content: "\e194";
}
.icon-metro-medal-2:before {
  content: "\e195";
}
.icon-metro-satellite:before {
  content: "\e196";
}
.icon-metro-discout:before {
  content: "\e197";
}
.icon-metro-barcode:before {
  content: "\e198";
}
.icon-metro-ticket:before {
  content: "\e199";
}
.icon-metro-shipping:before {
  content: "\e19a";
}
.icon-metro-globe:before {
  content: "\e19b";
}
.icon-metro-anchor:before {
  content: "\e19c";
}
.icon-metro-pop-out:before {
  content: "\e19d";
}
.icon-metro-pop-in:before {
  content: "\e19e";
}
.icon-metro-resize:before {
  content: "\e178";
}
.icon-metro-battery-2:before {
  content: "\e179";
}
.icon-metro-battery-3:before {
  content: "\e17a";
}
.icon-metro-battery-4:before {
  content: "\e17b";
}
.icon-metro-battery-5:before {
  content: "\e17c";
}
.icon-metro-tools:before {
  content: "\e17d";
}
.icon-metro-alarm-2:before {
  content: "\e17e";
}
.icon-metro-alarm-cancel:before {
  content: "\e17f";
}
.icon-metro-alarm-clock:before {
  content: "\e180";
}
.icon-metro-chronometer:before {
  content: "\e181";
}
.icon-metro-ruler:before {
  content: "\e182";
}
.icon-metro-lamp:before {
  content: "\e183";
}
.icon-metro-lamp-2:before {
  content: "\e184";
}
.icon-metro-scissors:before {
  content: "\e185";
}
.icon-metro-volume-4:before {
  content: "\e19f";
}
.icon-metro-volume-5:before {
  content: "\e1a0";
}
.icon-metro-volume-6:before {
  content: "\e1a1";
}
.icon-metro-battery-full:before {
  content: "\e15f";
}
.icon-metro-battery-empty:before {
  content: "\e15d";
}
.icon-metro-battery-half:before {
  content: "\e15e";
}
.icon-metro-zip:before {
  content: "\e1a2";
}
.icon-metro-zip-2:before {
  content: "\e1a3";
}
.icon-metro-play-2:before {
  content: "\e1a4";
}
.icon-metro-pause-2:before {
  content: "\e1a5";
}
.icon-metro-record:before {
  content: "\e1a6";
}
.icon-metro-stop-2:before {
  content: "\e1a7";
}
.icon-metro-next:before {
  content: "\e1a8";
}
.icon-metro-previous:before {
  content: "\e1a9";
}
.icon-metro-first-2:before {
  content: "\e1aa";
}
.icon-metro-last-2:before {
  content: "\e1ab";
}
.icon-metro-arrow-left-4:before {
  content: "\e1ac";
}
.icon-metro-arrow-down-4:before {
  content: "\e1ad";
}
.icon-metro-arrow-up-4:before {
  content: "\e1ae";
}
.icon-metro-arrow-right-4:before {
  content: "\e1af";
}
.icon-metro-arrow-left-5:before {
  content: "\e1b0";
}
.icon-metro-arrow-down-5:before {
  content: "\e1b1";
}
.icon-metro-arrow-up-5:before {
  content: "\e1b2";
}
.icon-metro-arrow-right-5:before {
  content: "\e1b3";
}
.icon-metro-cc:before {
  content: "\e1b4";
}
.icon-metro-cc-by:before {
  content: "\e1b5";
}
.icon-metro-cc-nc:before {
  content: "\e1b6";
}
.icon-metro-cc-nc-eu:before {
  content: "\e1b7";
}
.icon-metro-cc-nc-jp:before {
  content: "\e1b8";
}
.icon-metro-cc-sa:before {
  content: "\e1b9";
}
.icon-metro-cc-nd:before {
  content: "\e1ba";
}
.icon-metro-cc-pd:before {
  content: "\e1bb";
}
.icon-metro-cc-zero:before {
  content: "\e1bc";
}
.icon-metro-cc-share:before {
  content: "\e1bd";
}
.icon-metro-cc-share-2:before {
  content: "\e1be";
}
.icon-metro-cycle:before {
  content: "\e1bf";
}
.icon-metro-stop-3:before {
  content: "\e1c0";
}
.icon-metro-stats-2:before {
  content: "\e1c1";
}
.icon-metro-stats-3:before {
  content: "\e1c2";
}
